<form class="form-horizontal">
   <div class="control-group">
      <label class="control-label">{{ _('Columns:')}}</label>
      <div class="controls">
         <div class="row-fluid">
            <input type="number" class="span2 input-block-level" data-bind="value: settings.settings.plugins.macro.column" />
         </div>
      </div>
   </div>
   <div data-bind="foreach: settings.settings.plugins.macro.macros" style="margin-bottom: 12px">
      <div class="control-group">
         <label class="control-label">{{ _('Name') }}</label>
         <div class="controls">
            <div class="row-fluid">
               <div class="span4">
                 <input type="text" class="input-block-level" data-bind="value: name"/>
               </div>
               <div class="span4">
                  <select data-bind="value: type">
                     <option value="default">Default</option>
                     <option value="primary">Primary</option>
                     <option value="info">Info</option>
                     <option value="success">Success</option>
                     <option value="danger">Danger</option>
                     <option value="warning">Warning</option>
                  </select>
               </div>
               <div class="span1">
                 <input type="checkbox" class="input-block-level" data-bind="checked: active"/>
               </div>
               <div class="span2">
                  <a href='#' data-bind='click: $parent.moveMacroUp' class="fa fa-chevron-up"></a>
                  <a href='#' data-bind='click: $parent.moveMacroDown' class="fa fa-chevron-down"></a>
                  <a href='#' data-bind='click: $parent.removeMacro' class="fa fa-trash-o"></a>
               </div>
            </div>
         </div>
      </div>
      <label class="control-label">{{ _('Command') }}</label>
      <div class="controls macro-mb20">
          <div class="row-fluid">
            <div class="span8">
               <textarea rows="4" class="block" data-bind="value: macro">
               </textarea>
            </div>
            <div class="span2"></div>
          </div>
      </div>
   </div>
   <div class="control-group">
      <div class="controls">
         <button data-bind='click: addMacro' type="button"><i class="fa fa-plus-circle"></i> {{ _('Add Macro') }}</button>
      </div>
   </div>
</form>